block title
	title markdown2confluence

extend layout/basic

block style
	style.
		textarea {
			width: 600px;
			height: 400px;
		}

//- block style
//- 	link(rel='stylesheet' href='css/index.css')

block main
	h1 put markdown here
	textarea#markdown
	p
		button#convert convert
	h1 generated confluence markup
	textarea#markup

block script
	script(src='//code.jquery.com/jquery-1.11.2.min.js')
	script(src='./bundle.js')
	script(async=true, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
	script.
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-3706544482101470",
			enable_page_level_ads: true
		});